.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  color: #ffffff !important;
}

.card {
  border-radius: 2%;
  box-shadow: 5px 5px 5px rgb(209, 209, 209);
  margin: 1rem auto;
}

.nav-link {
  font-size: large;
  margin: 20px;
  align-self: flex-end;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .nav-link {
    align-self: center;
  }
}
